@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <dev class="bg-image">
</div>
<div class="list-group-style">The new books</div>
<hr />
<div class="row">
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<div class="list-group-style">The new videos</div>
<hr />
<div class="row">
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<div class="list-group-style">The new photos</div>
<hr />
<div class="row">
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="book-block col-md-3 text-center">
        <a href="https://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image">
            <img src="https://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief">
            <p class="item-title text-center">The Book Thief</p>
        </a>
        <hr class="hr-sm" />
        <p class="text-ellipsis" style="padding: 0 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>